
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="" />
  
  <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900|Oswald:400,700" rel="stylesheet">

  <link rel="stylesheet" href="<?= base_url('user/fonts/icomoon/style.css'); ?>">
  
  <link rel="stylesheet" href="<?= base_url('user/css/bootstrap.min.css'); ?>">
  <link rel="stylesheet" href="<?= base_url('user/css/magnific-popup.css'); ?>">
  <link rel="stylesheet" href="<?= base_url('user/css/jquery-ui.css'); ?>">
  <link rel="stylesheet" href="<?= base_url('user/css/owl.carousel.min.css'); ?>">
  <link rel="stylesheet" href="<?= base_url('user/css/owl.theme.default.min.css'); ?>">
  <link rel="stylesheet" href="<?= base_url('user/fonts/flaticon/font/flaticon.css'); ?>">
  
  <link rel="stylesheet" href="<?= base_url('user/css/aos.css'); ?>">
  <link rel="stylesheet" href="<?= base_url('user/css/fancybox.min.css'); ?>">
  
  <link rel="stylesheet" href="<?= base_url('user/css/style.css'); ?>">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


  
  <title>Nayss Laundry!</title>


</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="header-bar d-flex d-lg-block align-items-center site-navbar-target" data-aos="fade-right">
      <div class="site-logo">
        <a href="index.html">Nayss Laundry!</a>
      </div>

      <div class="d-inline-block d-lg-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle "><span class="icon-menu h3"></span></a></div>

      <div class="main-menu">
        <ul class="js-clone-nav">
          <li><a href="#section-home" class="nav-link">Home</a></li>
          <li><a href="#section-about" class="nav-link">About</a></li>
          <li><a href="#section-Services" class="nav-link">Services</a></li>
          <li><a href="#section-testimonial" class="nav-link">Testimonial</a></li>
          <li><a href="#section-contact" class="nav-link">Contact</a></li>
        </ul>
      </div>
      <p data-aos="fade-up" data-aos-delay="100"><a href="/" class="btn btn-primary btn-md smoothscroll">Login Page</a></p> 

    </header> 
    <main class="main-content">

        <section class="site-section-hero bg-image mb-5" style="background-image: url('<?php echo base_url("/user/images/laundry.jpg"); ?>');" data-stellar-background-ratio="0.5" id="section-home">
            <div class="row justify-content-center align-items-center">
          <div class="col-md-7 text-center">
            <h1 class=" heading text-uppercase text-white" data-aos="fade-up">Nayss Laundry!</h1>
            <p style="color: white;">Transformasi Pakaianmu menjadi Karya Seni Bersih dan Segar dengan Layanan Nays Laundry! Pengalaman Cuci yang Tak Tertandingi, Hanya di Nays Laundry</p>
            <p data-aos="fade-up" data-aos-delay="100"><a href="#section-contact" class="btn btn-primary btn-md smoothscroll">Hubungi Kami</a></p>
          </div>
        </div>
      </section>


        <section class="site-section" id="section-about">
            <div class="container">
              <div class="row justify-content-center">
  
                <div class="col-md-8">
  
                  <!-- <h2 class="heading">About</h2> -->
                  <h2>About</h2>
                  <div data-aos="fade-up"  data-aos-delay="100">
                    <h2>Nayss Laundry!</h2>
                   <p>Kami hadir untuk memenuhi kebutuhan laundry yang tidak sekedar laundry namun memberikan layanan yang lebih kepada para konsumen dari sisi kualitas, kecepatan, dan harga yang bersaing. Dengan peralatan yang canggih, tenaga yang profesional, kami bisa menyelesaikan laundry pakaian anda hanya 2 jam, tidak hanya itu kami juga melayani antar jemput dan bergaransi.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section href="#section-service" class="nav-link"">
          <div class="row mb-3">
            <div class="col-12 text-center">
              <h2 class="heading">Services</h2>
            </div>
          </div>
          
          <div class="services-container">
            <div class="service-item" data-aos="fade-up">
              <a class="d-block photo-item" data-fancybox="gallery">
                <img src="user/images/laundry_kiloan.jpeg" alt="Laundry Kiloan" class="img-fluid mb-0 service-image">
              </a>
              <h3>Laundry Kiloan</h3>
            </div>
            
            <div class="service-item" data-aos="fade-up" data-aos-delay="100">
              <a class="d-block photo-item" data-fancybox="gallery">
                <img src="user/images/laundry_satuan.jpg" alt="Laundry Satuan" class="img-fluid mb-0 service-image">
              </a>
              <h3>Laundry Satuan</h3>
            </div>
            
            <div class="service-item" data-aos="fade-up" data-aos-delay="200">
              <a class="d-block photo-item" data-fancybox="gallery">
                <img src="user/images/laundry_selimut.jpg" alt="Laundry Selimut" class="img-fluid mb-0 service-image">
              </a>
              <h3>Laundry Selimut</h3>
            </div>
            
            <div class="service-item" data-aos="fade-up" data-aos-delay="300">
              <a class="d-block photo-item" data-fancybox="gallery">
                <img src="user/images/dry_cleaning.jpg" alt="Dry Cleaning" class="img-fluid mb-0 service-image">
              </a>
              <h3>Dry Cleaning</h3>
            </div>
            
            <div class="service-item" data-aos="fade-up" data-aos-delay="400">
              <a class="d-block photo-item" data-fancybox="gallery">
                <img src="user/images/others.jpeg" alt="Others" class="img-fluid mb-0 service-image">
              </a>
              <h3>Others</h3>
            </div>
          </div>
        </section>
        <!-- #section-Services -->

        <!--section testimonial-->
        <section class="site-section" id="section-testimonial">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-8 text-center">
                <h2 class="heading">Testimonial</h2>

                <div class="row justify-content-center">
                  <div class="col-md-12">

                    <div class="owl-carousel slide-one-item home-slider">

                      <div class="testimony text-center px-md-4">
                        <figure class="mx-auto d-inline-block">
                          <img src="<?php echo base_url('user/images/person_1.jpg'); ?>" alt="Free Template by Untree.co" class="mx-auto img-fluid w-25 rounded-circle">
                        </figure>
                        <p class="text-black"><strong>Jorge Smith</strong></p>
                        <blockquote>
                          <p>Saya sangat senang menemukan Nays Laundry. Mereka tidak hanya menyediakan layanan cuci yang berkualitas tinggi, tetapi juga memberikan harga yang sangat terjangkau. Sungguh nilai tambah!</p>
                        </blockquote>
                      </div>

                      <div class="testimony text-center px-md-4">
                        <figure class="mx-auto d-inline-block">
                          <img src="<?php echo base_url('user/images/person_2.jpg'); ?>" alt="Free Template by Untree.co" class="mx-auto img-fluid w-25 rounded-circle">
                        </figure>
                        <p class="text-black"><strong>Ben Crawford</strong></p>
                        <blockquote>
                          <p>Nays Laundry telah menjadi penyelamat pakaian saya! Hasil cuciannya selalu sempurna dan pelayanan yang ramah membuat saya merasa dihargai sebagai pelanggan.</p>
                        </blockquote>
                      </div>

                      <div class="testimony text-center px-md-4">
                        <figure class="mx-auto d-inline-block">
                          <img src="<?php echo base_url('user/images/person_3.jpg'); ?>" alt="Free Template by Untree.co" class="mx-auto img-fluid w-25 rounded-circle">
                        </figure>
                        <p class="text-black"><strong>Jorge Smith</strong></p>
                        <blockquote>
                          <p>Nays Laundry adalah pilihan utama saya untuk urusan laundry. Mereka tidak hanya menyediakan layanan berkualitas tinggi, tetapi juga mengutamakan kepuasan pelanggan dengan pelayanan yang istimewa.</p>
                        </blockquote>
                      </div>

                      <div class="testimony text-center px-md-4">
                        <figure class="mx-auto d-inline-block">
                          <img src="<?php echo base_url('user/images/person_4.jpg'); ?>" alt="Free Template by Untree.co" class="mx-auto img-fluid w-25 rounded-circle">
                        </figure>
                        <p class="text-black"><strong>Ben Crawford</strong></p>
                        <blockquote>
                          <p>Saya sangat terkesan dengan kualitas layanan yang diberikan oleh Nays Laundry. Mereka tidak hanya profesional dalam melakukan pekerjaan mereka, tetapi juga sangat ramah dan responsif terhadap kebutuhan pelanggan.</p>
                        </blockquote>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="site-section" id="section-contact">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <h2 class=" mb-5 heading">Contact</h2>

                <form action="#">



                  <div class="row form-group">
                    <div class="col-md-6 mb-3 mb-md-0">
                      <label class="" for="fname">First Name</label>
                      <input type="text" id="fname" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label class="" for="lname">Last Name</label>
                      <input type="text" id="lname" class="form-control">
                    </div>
                  </div>

                  <div class="row form-group">

                    <div class="col-md-12">
                      <label class="" for="email">Email</label> 
                      <input type="email" id="email" class="form-control">
                    </div>
                  </div>

                  <div class="row form-group mb-5">
                    <div class="col-md-12">
                      <label class="" for="message">Message</label> 
                      <textarea name="message" id="message" cols="30" rows="7" class="form-control"></textarea>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-md-12">
                      <input type="submit" value="Send Message" class="btn btn-primary btn-md">
                      <a href="https://wa.me/089665706693" target="_blank"
                        <i class="fab fa-whatsapp icon"></i>
                    </a>
                    
                    
                    </div>
                  </div>
 

                </form>
              </div>
            </div>
          </div>
        </section>

        
      </div>
    </main>

  </div> <!-- .site-wrap -->

  <script src="<?= base_url('user/js/jquery-3.3.1.min.js'); ?>"></script>
  <script src="<?= base_url('user/js/jquery-migrate-3.0.1.min.js'); ?>"></script>
    <script src="<?= base_url('user/js/jquery.easing.1.3.js'); ?>"></script>
    <script src="<?= base_url('user/js/jquery-ui.js'); ?>"></script>
    <script src="<?= base_url('user/js/popper.min.js'); ?>"></script>
    <script src="<?= base_url('user/js/bootstrap.min.js'); ?>"></script>
    <script src="<?= base_url('user/js/owl.carousel.min.js'); ?>"></script>
    <script src="<?= base_url('user/js/jquery.stellar.min.js'); ?>"></script>
    <script src="<?= base_url('user/js/jquery.countdown.min.js'); ?>"></script>
    <script src="<?= base_url('user/js/jquery.magnific-popup.min.js'); ?>"></script>
    <script src="<?= base_url('user/js/aos.js'); ?>"></script>
    <script src="<?= base_url('user/js/lozad.min.js'); ?>"></script>
    <script src="<?= base_url('user/js/jquery.fancybox.min.js'); ?>"></script>
    <script src="<?= base_url('user/js/main.js'); ?>"></script>


  <!-- Global site tag (gtag.js) - Google Analytics -->
  </body>
</html>
